* {
  margin: 0;
  box-sizing: border-box;
}

.pokemon-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 800px;
  list-style-type: none;
  text-transform: capitalize;
}
.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 150px;
  border: 3px solid black;
  border-radius: 15px;
}
